* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden-container {
  display: none;
  visibility: hidden;
}

html, body {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  display: block;
  background-size: 100% 100%;
  height: 100vh;
}
html textarea:focus, body textarea:focus {
  outline: 0;
}

.textbox-readonly {
  background-color: lightgray;
}

.page-container {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  display: block;
  border-color: #100000;
  background-color: #100000;
  background-size: 100% 100%;
  height: 100vh;
}
.page-container a {
  color: white;
  text-decoration: none;
}
.page-container a:hover {
  color: white;
  text-decoration: underline;
}
.page-container h1 {
  font-weight: 500;
  font-size: 1.25em;
}
.page-container h2 {
  font-weight: 400;
  font-size: 1.15em;
}
.page-container h3 {
  font-weight: 300;
  font-size: 1.075em;
}
.page-container .focusable_element {
  cursor: pointer;
}
.page-container .focusable_element:focus {
  text-decoration: underline;
  font-weight: bold;
}
.page-container .focused_element {
  text-decoration: underline;
  font-weight: bold;
}
.page-container .head-container {
  border-color: #350000;
  background-color: #350000;
  color: white;
  padding: 10px 30px 10px 30px;
}
.page-container .head-container .head-container-api-data {
  display: inline-block;
  max-width: 45%;
  width: 45%;
}
.page-container .head-container .head-container-api-auth {
  display: inline-block;
  max-width: 55%;
  width: 55%;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form {
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px 50px 0 0;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type {
  padding: 5px 0 10px 0px;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type .auth-input-label {
  display: inline-block;
  padding-right: 10px;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type .auth-input-container {
  display: inline-block;
  float: right;
  width: 330px;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type .auth-input-container .auth-input-basic-label {
  display: inline-block;
  padding-bottom: 5px;
  width: 80px;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type .auth-input-container .auth-input-basic {
  display: inline-block;
  padding-bottom: 5px;
  width: 245px;
}
.page-container .head-container .head-container-api-auth .head-container-api-auth-form .auth-form-type .auth-input-container .auth-input {
  width: 100%;
  border-radius: 5px;
}
.page-container .path-container {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #200000;
  min-height: 80%;
}
.page-container .path-container .api-paths {
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #200000;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 30%;
  max-width: 30%;
}
.page-container .path-container .api-paths .api-path-endpoint-container {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}
.page-container .path-container .api-paths .api-path-endpoint-container .api-path-endpoint-group {
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 1.15em;
  font-weight: 600;
  margin: 0;
}
.page-container .path-container .api-paths .api-path-endpoint-container .api-path-endpoint-group-endpoints .api-path-endpoint-group-endpoints-container {
  margin: 5px;
  padding: 0;
}
.page-container .path-container .api-selected-endpoint {
  color: white;
  padding: 0;
  background-color: #423535;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 70%;
  max-width: 70%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #423535;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container .api-selected-endpoint-data {
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #481515;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 80%;
  flex: 1 0 80%;
  max-width: 80%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container .api-selected-endpoint-send-request {
  color: white;
  background-color: #481515;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 20%;
  flex: 1 0 20%;
  max-width: 20%;
  border: none;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container .api-selected-endpoint-send-request .api-request-send-button {
  border-color: #0f4b00;
  border-width: 2px;
  border-style: solid;
  background-color: #1a9003;
  color: #ebffe7;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container .api-selected-endpoint-send-request .api-request-send-button:hover {
  background-color: #0f4b00;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-data-container .api-selected-endpoint-send-request .api-request-send-button-sending {
  background-color: #0f4b00;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #423535;
  min-height: calc(100% - 70px);
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request {
  color: white;
  padding: 5px 10px 5px 10px;
  border-color: #100000;
  border-width: 1px;
  background-color: #423535;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 42%;
  max-width: 42%;
  height: inherit;
  min-height: inherit;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent {
  height: fit-content;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs {
  margin-top: 5px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs .req-params-container {
  margin-top: 5px;
  margin-bottom: 10px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs .req-params-container .req-params-container-items {
  max-height: 250px;
  overflow-y: auto;
  border-bottom: 1px dotted #aa9898;
  padding-top: 2px;
  padding-bottom: 3px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs .req-params-container .req-params-container-items .req-params-container-items-group {
  padding-bottom: 3px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs .req-params-container .req-params-container-items .req-params-container-items-group .request-param-name {
  display: inline-block;
  width: 40%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-params-container-parent .req-params-container-inputs .req-params-container .req-params-container-items .req-params-container-items-group .request-param-input {
  display: inline-block;
  width: 60%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-obj-ref-container {
  display: block;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .req-obj-ref-container .req-obj-ref-item {
  display: inline-block;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container {
  display: block;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 60%;
  max-width: 60%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media label {
  width: 100%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media select {
  width: 70%;
  min-width: 170px;
  border-radius: 5px;
  cursor: pointer;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media select:disabled {
  cursor: default;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media_reload_sample {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 40%;
  max-width: 40%;
  text-align: right;
  vertical-align: bottom;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media_reload_sample button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #350000;
  background-color: #582828;
  color: white;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media_reload_sample button:hover {
  background-color: #481515;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request_selected_media_container .request_selected_media_container-row .request_selected_media_reload_sample button:disabled {
  border-color: #5c5858;
  background-color: #978d8d;
  cursor: default;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-box-container {
  min-width: 100%;
  display: block;
  margin-top: 10px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-box-container .request_box {
  width: 100%;
  min-height: 600px;
  height: 100%;
  resize: none;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container {
  display: block;
  padding-bottom: 15px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-status {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-status .request-response-sample-status-select-row {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-status .request-response-sample-status-select-row .request-response-sample-status-select-label {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 40%;
  max-width: 40%;
  min-width: 40%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-status .request-response-sample-status-select-row .request-response-sample-status-select {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 60%;
  max-width: 60%;
  min-width: 60%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-status .request-response-sample-status-select-row .request-response-sample-status-select .response-sample-status-select {
  max-width: 130px;
  border-radius: 5px;
  cursor: pointer;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-media {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-media .request-response-sample-media-select-row {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-media .request-response-sample-media-select-row .request-response-sample-media-select-label {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 40%;
  max-width: 40%;
  min-width: 40%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-media .request-response-sample-media-select-row .request-response-sample-media-select {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 60%;
  max-width: 60%;
  min-width: 60%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .request-response-sample-select-row .request-response-sample-media .request-response-sample-media-select-row .request-response-sample-media-select .response-sample-media-select {
  max-width: 130px;
  border-radius: 5px;
  cursor: pointer;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .response-sample-body {
  width: 100%;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .response-sample-body .response-sample-body-text {
  color: #FFFFFF;
  background-color: #000000;
  resize: vertical;
  width: 100%;
  min-height: 200px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .response-sample-obj-ref-container {
  display: block;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-request .request-response-sample-container .response-sample-obj-ref-container .response-sample-obj-ref {
  display: inline-block;
  padding: 3px;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-response {
  color: white;
  padding: 5px 10px 5px 10px;
  border-color: #100000;
  border-width: 1px;
  background-color: #000000;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 58%;
  max-width: 58%;
  height: inherit;
  min-height: inherit;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-response .response-body-container {
  height: inherit;
  min-height: inherit;
}
.page-container .path-container .api-selected-endpoint .api-selected-endpoint-request-response .endpoint-response .response-body-container .response-result-body-text {
  width: 100%;
  min-height: 560px;
  height: 100%;
  background-color: black;
  color: white;
  resize: none;
  border: none;
}
.page-container .path-container .api-selected-endpoint .request-response-sample-container {
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #423535;
}
.page-container .model-container {
  color: white;
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #200000;
}
.page-container .model-container .model-container-col {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 100%;
  max-width: 100%;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  font-size: larger;
}
.page-container .model-container .model-container-col .model-enums-container {
  color: white;
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #200000;
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.page-container .model-container .model-container-col .model-enums-container .model-enums-container-col {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 100%;
  max-width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: large;
}
.page-container .model-container .model-container-col .model-enums-container .model-enums-container-col .enum-items-container {
  margin-left: 10px;
}
.page-container .model-container .model-container-col .model-enums-container .model-enums-container-col .enum-items-container .enum-item-element {
  padding: 5px;
  border-bottom-color: #FFFFFF;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.page-container .model-container .model-container-col .model-enums-container .model-enums-container-col .enum-items-container .enum-item-element .kwf-enum-item-values {
  margin-left: 15px;
  font-size: medium;
  border-left-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dashed;
  padding-left: 5px;
  padding-top: 2px;
}
.page-container .model-container .model-container-col .model-objects-container {
  color: white;
  min-width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  background-color: #200000;
}
.page-container .model-container .model-container-col .model-objects-container .model-objects-container-col {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  flex: 1 0 100%;
  max-width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: large;
}
.page-container .model-container .model-container-col .model-objects-container .model-objects-container-col .object-items-container {
  margin-left: 10px;
}
.page-container .model-container .model-container-col .model-objects-container .model-objects-container-col .object-items-container .object-item-element {
  padding: 5px;
  border-bottom-color: #FFFFFF;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.page-container .model-container .model-container-col .model-objects-container .model-objects-container-col .object-items-container .object-item-element .kwf-object-item-properties {
  margin-left: 15px;
  font-size: medium;
  border-left-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dashed;
  padding-left: 5px;
  padding-top: 2px;
}
